<p>
  setting works!
</p>
<div class="wrap_tab">
  <ul>
    <li (mouseover)="hoverTab($event)" (mouseleave)="hoverTab($event)">
      <a href="">한글다섯글자탭</a>
      <span class="bar"></span>
    </li>
    <li (mouseover)="hoverTab($event)" (mouseleave)="hoverTab($event)">
      <a href="">한탭</a>
      <span class="bar"></span>
    </li>
    <li (mouseover)="hoverTab($event)" (mouseleave)="hoverTab($event)">
      <a href="">한글탭</a>
      <span class="bar"></span>
    </li>
    <li (mouseover)="hoverTab($event)" (mouseleave)="hoverTab($event)">
      <a href="">한글글자탭</a>
      <span class="bar"></span>
    </li>
  </ul>
  <span class="animated_bg_bar"></span>
</div>
<app-list></app-list>
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
