ul { overflow: hidden; display: block; height: 80px; text-align: center }
li { position: relative; float: left; width: 25%; height: 100%; text-align: center }
.wrap_tab { position: relative; }
span.bar { position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; opacity: 0 }
.on span.bar { background: #000; opacity: 1; transition: opacity 3s ease-in-out }
.animated_bg_bar { position: absolute; bottom: 0; width: 80px; height: 3px; background: #000; transition: width, top, left 1s ease-in-out; }
