/*@font-face {*/
/*font-family: 'Spoqa Han Sans';*/
/*font-weight: 700;*/
/*src: local('Spoqa Han Sans Bold'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Bold.woff2') format('woff2'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Bold.woff') format('woff'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Bold.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*font-family: 'Spoqa Han Sans';*/
/*font-weight: 400;*/
/*src: local('Spoqa Han Sans Regular'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Regular.woff2') format('woff2'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Regular.woff') format('woff'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Regular.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*font-family: 'Spoqa Han Sans';*/
/*font-weight: 300;*/
/*src: local('Spoqa Han Sans Light'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Light.woff2') format('woff2'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Light.woff') format('woff'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Light.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*font-family: 'Spoqa Han Sans';*/
/*font-weight: 100;*/
/*src: local('Spoqa Han Sans Thin'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Thin.woff2') format('woff2'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Thin.woff') format('woff'),*/
/*url('./assets/font/spoqa/Spoqa Han Sans Thin.ttf') format('truetype');*/
/*}*/

/** { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif'; }*/
body { padding: 0; margin: 0 }
@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button { margin: 0; padding: 0 }
fieldset, img { border: 0 none }
dl, ul, ol, menu, li { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
input, select, textarea, button { vertical-align: middle }
input::-ms-clear { display: none }
button { border: 0 none; background-color: transparent; cursor: pointer }
body { background: #fff }
body, th, td, input, select, textarea, button { font-size: 12px; line-height: 1.5; font-family: 'Yoon 윤고딕', '돋움', dotum, sans-serif; color: #000 }
a { color: #000; text-decoration: none }
a:active, a:hover { text-decoration: underline }
a:active { background-color: transparent }
h1, h2, h3, h4, h5, h6, strong, address, caption, cite, code, dfn, em, var, th { font-style: normal; font-weight: normal }
#kakaoIndex { overflow: hidden; width: 1px; font-size: 1px; line-height: 0; text-indent: -9999px }
.ir_pm { display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px }
